/* FONTS */
@font-face {
    font-family: "greenFood";
    src: url("./fonts/GREENFOOD\ PERSONAL\ USE.ttf");
}
@font-face {
    font-family:"retroVintage";
    src: url("./fonts/RetroVintage-Regular.otf");
}
@font-face {
    font-family:"bienchen";
    src: url("./fonts/Bienchen\ b.ttf");
}
/* ESTILOS HOME PAGE */
body{
    background-color: #FDF5BF;
}
/* Header part */
header{
    background-color: #92D1C3;
    text-align: center;
    font-family: "greenFood";
    color: #1c3630;
    letter-spacing: 2.5px;
    font-size: 20px;
    margin-top: none;
    padding: 1px 1px 8px 1px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
}
header nav{
    display: flex;
    flex-direction: column;
    font-family: "retroVintage";
    margin-bottom: 3px;
}
.navBar{
    padding: 10px;
    text-decoration: none;
    color: #478c7d;
    border: 2px solid #abeadc;
    margin: 0 auto;
    font-size: x-large;
    margin-bottom: 5px;
    width: 90%;
}
.navBar:hover{
    border: 2px solid #478c7d;
    scale: 1.05px;
    color: #b8eadf;
}

/* Main part */
#descripcion{
    padding: 5px 12px 5px 12px;
    text-align: center;
    font-family: 'retroVintage';
    color: #417e70;
}
#descripcion h2{
    font-size: 35px;
    color: #325d53;
}
#fotosPlatosPopulares{
    padding: 1px 10px 10px 10px;
    background-color: #b88cb7;
}
#fotosPlatosPopulares h2{
    text-align: center;
    color: #FDF5BF;
    font-family: "bienchen";
    letter-spacing: 1px;
    font-size: 42px;
}
.infoTarjeta{
    text-align: center;
    border: 2px solid #FDF5BF;
    padding: 1px 2px 12px 2px;
    margin-top: 20px;
}
.infoTarjeta h3{
    color: #FDF5BF;
    font-family: "bienchen";
    letter-spacing: 2.5px;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Footer part */
footer{
    background-color: #92D1C3;
    text-align: center;
    font-family: "retroVintage";
    font-size: medium;
    letter-spacing: 1px;
    margin-top: none;
    padding: 20px 32px 20px 32px;
    margin-top: 28px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    color: #1e5a4d;
}

/* ESTILOS CONTACT PAGE */
#formularioContacto{
    text-align: center;
    border: 2px solid #b88cb7;
    padding: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
}
#legendFormulario{
    font-family: "retroVintage";
    letter-spacing: 1px;
    padding-bottom: 25px;
    font-size: 34px;
    color: #885b87;
}
.seccionFormulario{
    border: none;
}
label{
    font-family: "retroVintage";
    letter-spacing: 1px;
    color: #b88cb7;
    font-size: 24px;
}
input,textarea{
    margin-top: 8px;
    margin-bottom: 28px;
    background-color: #f8edf8;
    border: 3px solid #dcb8db;
    padding: 7px;
}
#enviarFormulario{
    background-color: #8a6189;
    font-family: "retroVintage";
    color: #ffe1fe;
    padding: 10px 25px;
    font-size: 23px;
}